.softlight {
    position: relative;
    img,
    video,
    iframe {
        object-fit: cover;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        max-width: 100%;
        max-height: 100%;
    }

    canvas {
        position: absolute;
        transition: filter 3s cubic-bezier(0.19, 1, 0.22, 1);
    }
}
